{% extends 'landingPage/common/base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block bodyclass %}{% endblock %}
{% block body %}

<section class="pricing-area pt-50 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            {% if categories|length > 0 %}
                {% for category in categories %}
                    {% if category.getParent() is null or selectedCategory is not null%}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-courses-box">
                                <div class="courses-image">
                                    <a href="{% if category.getSubCategories()|length == 0 %}{{ category.getId()|getRandomOfferLink() }}{% else %}{% if category.getParent() != null %}{{ category.getId()|getRandomOfferLink() }}{% else %}{{ path('offerPage', {'category': category.getId()}) }}{% endif %}{% endif %}">
                                        <img src="{{ asset('assets/images/offer/'~ category.getImage()) }}" alt="{{ category.getName() }}">
                                    </a>
                                </div>
                                <div class="courses-content">
                                    <div class="course-author text-center">
                                        <span>{{ category.getName() }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="pricing-main-shape"><img alt="image" src="{{ asset('assets/images/page-banner/shape_ltr.png') }}"></div>
</section>
{% endblock %}
