
{% if level == 'main' %}
    <div class="faq-accordion">
        <div class="accordion">
            {% for category_ in categories %}
                {% if category_.getParent() == null %}
                    {% set active = false %}
                    {% if category.getParent() is not null and category_.getName() == category.getParent().getName() %}
                        {% set active = true %}
                    {% endif %}
                    <div class="accordion-item">
                        <div class="accordion-title {% if active %}active{% endif %}">
                            <i class="bx bxs-down-arrow"></i> {{ category_.getName() }}
                        </div>
                        <div class="accordion-content {% if active %}show{% endif %}">
                            {% include 'landingPage/common/widgets/categoriesTree.html.twig' with {'level': 'sub', 'categorylvl':1, 'parent':category_, 'categories': categories} %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% elseif level == 'sub' %}
    <ul class="subcategories">
        {% for category_ in categories %}
            {% if category_.getParent() == parent %}
                <li class="subcategory">
                    <a href="{{ category_|getRandomOfferLink }}" {% if categorylvl == 1 %} style="padding-top: 15px; color: #f0b9b2" {% endif %}>{{ category_.getName() }}</a>
                </li>

                {% if category_|haveChild %}
                    {% include 'landingPage/common/widgets/categoriesTree.html.twig' with {'level': 'sub', 'categorylvl':3, 'parent':category_} %}
                {% endif %}

                {% if category_|getCategoryOffers|length > 0 %}
                    {# include offers for those 2nd lvl categories #}
                    {% include 'landingPage/common/widgets/categoriesTree.html.twig' with {'level': 'offers', 'offers':category_|getCategoryOffers} %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% elseif level == 'offers' %}
    <ul class="offers">
        {% for offer in offers %}
            <li class="subcategory"><a href="{{ path('offerDetailsPage', {'category': offer.getCategory().getName(), 'offer': offer.getName() }) }}">{{ offer.getName() }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
