<div class="main-slides-area">
    <div class="home-slides owl-carousel owl-theme">
        {% for slide in slides %}
            <div class="main-slides-item-box">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="main-slides-content">
                                <div class="container-fluid slider-logo">
                                    <img class="mx-auto d-block" src="{{ asset('assets/images/logo.svg') }}">
                                </div>
                                <h1>{{ slide.getTitle() }}</h1>
                                <p>{{ slide.getSubTitle }}</p>
                                <div class="slides-btn">
                                    <a class="default-btn" href="{{ slide.getHyperlink() }}">Sprawdź ofertę</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="main-slides-image"><img alt="image" src="{{ slide.getImagePath() }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
