{% extends 'admin/common/base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('dropzone') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 list">
            {% if offers|length > 0 %}
                {% for offer in offers %}
                    <div class="card d-flex flex-row mb-3" id="category-{{ offer.getId()|replace({' ': "-"}) }}">
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate w-15 w-xs-100">
                                        {{ offer.getName() }}
                                    </a>
                                    <div class="w-15 w-xs-50 ">
                                        <span class="badge badge-pill badge-outline-primary">{{ offer.getCategory().getName() }}</span>
                                    </div>
                                    <div class="w-15 w-xs-50 ">
                                        <span class="badge badge-pill badge-outline-primary">{{ offer.getOfferCombinations()|length }} Kombinacje</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-1 align-self-center pr-4">
                                <button type="button" data-toggle="modal" data-target="#edit-{{ offer.getId() }}" class="btn btn-primary btn-sm mr-1">Edytuj</button>
                                <button type="button" onclick="confirmDelete({{ offer.getId() }})" class="btn btn-primary btn-sm mr-1">Usuń</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card d-flex flex-row media-thumb-container">
                    <a class="d-flex align-self-center media-thumbnail-icon no-results-icon">
                        <i class="iconsmind-Information"></i>
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                            <a class="w-100">
                                <p class="list-item-heading mb-1 truncate">Nie znaleziono żadnej oferty, utwórz pierwszą używając przycisku powyżej.</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function confirmDelete(id) {
            swal({
                    title: "Jesteś pewien?",
                    text: "Tej oferty nie będzie można przywrócić!",
                    type: "warning",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonClass: "btn-primary",
                    cancelButtonClass: "btn-outline-primary",
                    confirmButtonText: "Tak, usuń!",
                    cancelButtonText: "Anuluj",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url:        '/adminpanel/offers/' + id + '/delete/',
                        type:       'GET',
                        dataType:   'json',
                        async:      true,

                        success: function(data, status) {
                            if(data[0]) {
                                swal("Usunięto!", "Poprawnie usunięto oferte.", "success");

                                // tricky thing but works so it's fine :)
                                $('#category-' + id).addClass('hidden');
                            }
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            swal("Błąd", " Wystąpił niespodziewany błąd, skontaktuj się z administratorem.", "error");
                        }
                    });
                });
        }
    </script>
{% endblock %}
