<div class="row">
    <div class="col-12">
        <div class="mb-3">
            <h1>{{ pageTitle }}</h1>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if app.request.get('_route') == 'adminCategories' %}
                    <div class="float-sm-right text-zero">
                        <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-backdrop="static" data-target="#modal_add">Dodaj nową kategorie</button>
                    </div>
                {% elseif app.request.get('_route') == 'adminOffers' %}
                    <div class="float-sm-right text-zero">
                        <a class="btn btn-primary btn-lg mr-1" href="{{ path('adminOffersAdd') }}">Dodaj nową ofertę</a>
                    </div>
                {% elseif app.request.get('_route') == 'adminOfferCombinations' %}
                    <div class="float-sm-right text-zero">
                        <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-backdrop="static" data-target="#modal_add">Dodaj nową kombinacje</button>
                    </div>
                {% elseif app.request.get('_route') == 'adminPromotionsAll' or app.request.get('_route') == 'adminPromotionsFeatured' %}
                    <div class="float-sm-right text-zero">
                        <button type="button" class="btn btn-primary btn-lg mr-1" data-toggle="modal" data-backdrop="static" data-target="#modal_add">Dodaj nową promocje</button>
                    </div>
                {% endif %}
            {% endif %}
            <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb pt-0">
                    <li class="breadcrumb-item">
                        <a href="{{ path('adminDashboard') }}"><i class="simple-icon-home"></i></a>
                    </li>
                    {% for key, value in breadcrumbs %}
                    <li class="breadcrumb-item">
                        <a href="{{ value[1] }}">{{ value[0] }}</a>
                    </li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
        {# include('frontend/common/widgets/content-sort.html.twig') #}
        <div class="separator mb-5"></div>
    </div>
</div>
