{% extends 'landingPage/common/base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block bodyclass %}{% endblock %}
{% block body %}

<section class="pricing-area pt-50 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                {% include 'landingPage/common/widgets/categoriesTree.html.twig' with {'level': 'main'} %}
            </div>

            <div class="col-lg-6 col-sm-12">
                <div class="services-details-desc">
                    <div class="content-image">
                        <img src="{{ asset('assets/images/page-banner/flower.jpg') }}" alt="image">
                        <h4 class="sub-title">{{ offer.getName() }}</h4>
                    </div>

                    <div class="content-desc">{{ offer.getDescribtion()|raw }}</div>

                    <div class="content-contraindications">
                        <h3 class="content-section-title">Jakie są przeciwwskazania?</h3>
                        <ul class="list">
                            {% for i in offer.getContraindications() %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="content-effects">
                        <h3 class="content-section-title">Jakie są efekty zabiegu?</h3>
                        {{ offer.getEffects()|raw }}
                    </div>

                    <div class="content-post-operative-care">
                        <h3 class="content-section-title">Pielęgnacja pozabiegowa</h3>
                        {{ offer.getAftercare()|raw }}

                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-12">
                {% for combination in offer.getOfferCombinations() %}
                    <div class="courses-details-info">
                        <ul class="info">
                            <li class="price">
                                <div class="text-center mb-4">
                                    {{ combination.getType()|processType }}
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Cena</span>
                                    {% if combination.getPrice() == 0 %}
                                        Indywidualnie
                                    {% else %}
                                        {{ combination.getPrice() }} zł
                                    {% endif %}
                                </div>
                            </li>
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>Czas wykonania zabiegu</span> {{ combination.getTime() }} min
                                </div>
                            </li>
                        </ul>
                        <div class="courses-btn-box">
                            <a class="default-btn" href="#">Zapisz się teraz</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="pricing-main-shape"><img alt="image" src="{{ asset('assets/images/page-banner/shape_rtl.png') }}"></div>
</section>
{% endblock %}
