{% extends 'admin/common/base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12 list">
            {% if promotions|length > 0 %}
                {% for promotion in promotions %}
                    <div class="card d-flex flex-row mb-3" id="promotion-{{ promotion.getId() }}">
                        <div class="d-flex flex-grow-1 min-width-zero">
                            <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                                <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                                    <a class="list-item-heading mb-1 truncate  w-30 w-xs-100">
                                        {{ promotion.getPromotion().getOfferCombination().getOffer().getName() }} - {{ promotion.getPromotion().getOfferCombination().getType()|processType }}
                                    </a>
                                    <a class="list-item-heading mb-1 truncate  w-30 w-xs-100">
                                        Stara cena - <s>{{ promotion.getPromotion().getOfferCombination().getPrice() }}</s> zł
                                    </a>
                                    <a class="list-item-heading mb-1 truncate  w-30 w-xs-100">
                                        Nowa cena - {{ promotion.getPromotion().getNewPrice() }} zł
                                    </a>
                                </div>
                            </div>
                            <div class="pl-1 align-self-center pr-4">
                                <button type="button" onclick="confirmDelete({{ promotion.getId() }})" class="btn btn-primary btn-sm mr-1">Usuń</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card d-flex flex-row media-thumb-container">
                    <a class="d-flex align-self-center media-thumbnail-icon no-results-icon">
                        <i class="iconsmind-Information"></i>
                    </a>
                    <div class="d-flex flex-grow-1 min-width-zero">
                        <div class="card-body align-self-center d-flex flex-column justify-content-between min-width-zero align-items-lg-center">
                            <a class="w-100">
                                <p class="list-item-heading mb-1 truncate">Nie znaleziono wyróźnionych promocji, wyróźnij pierwszą używając przycisku powyżej.</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block modal_add %}
    <div class="modal-header">
        <h5 class="modal-title">Wyróźnij promocje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    {{ form_start(form_add) }}
    <div class="modal-body">
        <div class="form-group">
            <label>Promocja:</label>
            {{ form_widget(form_add.promotion) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Anuluj</button>
        <button type="submit" class="btn btn-primary">Wyróźnij</button>
    </div>
    {{ form_end(form_add) }}
{% endblock %}

{% block javascripts %}
    <script>
        function confirmDelete(id) {
            swal({
                    title: "Jesteś pewien?",
                    text: "Promocja nie będzie dłużej wyróźniona!",
                    type: "warning",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    confirmButtonClass: "btn-primary",
                    cancelButtonClass: "btn-outline-primary",
                    confirmButtonText: "Tak, usuń!",
                    cancelButtonText: "Anuluj",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url:        '/adminpanel/offer/promotions/featured/' + id + '/delete',
                        type:       'GET',
                        dataType:   'json',
                        async:      true,

                        success: function(data, status) {
                            if(data[0]) {
                                swal("Usunięto!", "Poprawnie usunięto wyróźnienie.", "success");

                                // tricky thing but works so it's fine :)
                                $('#promotion-' + id).addClass('hidden');
                            }
                        },
                        error : function(xhr, textStatus, errorThrown) {
                            swal("Błąd", " Wystąpił niespodziewany błąd, skontaktuj się z administratorem.", "error");
                        }
                    });
                });
        }
    </script>
{% endblock %}
