{% extends 'landingPage/common/base.html.twig' %}
{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    {% include 'landingPage/common/widgets/slider.html.twig' %}
    <div class="services-area ptb-100">
        <div class="container">
            <div class="section-title">
                <h2><span>Nasza oferta</span></h2>
                <p>Poznaj oferowane przez nas usługi</p>
            </div>
            <div class="tab services-list-tab">
                <ul class="tabs">
                    <li>
                        <a href="#"><i class="flaticon-bipolar"></i> <span>Fizjoterapia</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="flaticon-bipolar"></i> <span>Kosmetologia</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="flaticon-bipolar"></i> <span>Vacu Fitness</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="flaticon-bipolar"></i> <span>Sauna & Jacuzzi</span></a>
                    </li>
                </ul>
                <div class="tab_content">
                    <div class="tabs_item">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="services-tab-image">
                                    <img alt="image" src="{{ asset('assets/images/offer/home/fizjoterapia.jpg') }}">
                                </div>
                            </div>
                            <div class="col-lg-6 pb-70">
                                <div class="services-tab-content">
                                    <p>Celem fizjoterapii jest utrzymywanie, rozwijanie i przywracanie zdolności ruchowych.    Fizjoterapia leczenie ruchem, zabiegami fizykoterapeutycznymi i stanowi podstawową składową rehabilitacji leczniczej (medycznej), wykorzystuje również zabiegi fizykalne.</p>
                                    <p>Celem fizjoterapii jest również poprawa sprawności ruchowej i siły organizmu, złagodzenie bólu i przywrócenie sprawności fizycznej. Umożliwia to wznowienie codziennych czynności, w tym pracy, szkoły, zajęć rekreacyjnych i opieki osobistej.</p>
                                    <div class="services-btn text-center pt-md-5">
                                        <a class="default-btn" href="{{ "16"|getRandomOfferLink }}">Sprawdź ofertę <i class="flaticon-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs_item">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="services-tab-image">
                                    <img alt="image" src="{{ asset('assets/images/offer/home/kosmetologia.jpg') }}">
                                </div>
                            </div>
                            <div class="col-lg-6 pb-70">
                                <div class="services-tab-content">
                                    <p>Zajmujemy się profilaktyką chorób skóry oraz zmian skórnych, a także skutecznie niwelujemy przedwczesne oznaki starzenia, jak również wszelkie niedoskonałości związane zarówno z kondycją skóry, jak i mankamentami sylwetki.  Kosmetologia oferuje również zabiegi upiększające, nasi specjaliści pomogą także dobrać właściwe  preparaty kosmetyczne dedykowane dla poszczególnych potrzeb.</p>
                                    <div class="services-btn text-center pt-md-5">
                                        <a class="default-btn" href="{{ "32"|getRandomOfferLink }}">Sprawdź ofertę <i class="flaticon-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs_item">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="services-tab-image">
                                    <img alt="image" src="{{ asset('assets/images/offer/home/vacu.jpg') }}">
                                </div>
                            </div>
                            <div class="col-lg-6 pb-70">
                                <div class="services-tab-content">
                                    <p>W strefie Vacu wymodelujesz sylwetkę oraz pozbędziesz się uporczywego cellulitu i ujędrnisz skórę. Tutaj również zadbasz o utrzymanie kondycji. Urządzenie Vacuu łączą w sobie podciśnienie, podczerwień i elektrostymulacje. Takie połączenie przyśpiesza proces spalania tkanki tłuszczowej. </p>
                                    <p>Oferujemy trening na bieżni Vacuu, a także masaż na rolce Roll Magic. </p>
                                    <div class="services-btn text-center pt-md-5">
                                        <a class="default-btn" href="{{ "9"|getRandomOfferLink }}">Sprawdź ofertę <i class="flaticon-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs_item">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="services-tab-image">
                                    <img alt="image" src="{{ asset('assets/images/offer/home/jacuzzi.jpg') }}">
                                </div>
                            </div>
                            <div class="col-lg-6 pb-70">
                                <div class="services-tab-content">
                                    <p>Całoroczna, zewnętrzna strefa sauny i jacuzzi to miejsce, gdzie odpoczniesz po treningu lub po prostu oddasz się chwilom relaksu. Sauna nazywana jest również gorącą terapią dla ciała i duszy. Regularne korzystanie z sauny zapewnia piękną skórę oraz skutecznie redukuje stres i zmęczenie. Kilkuminutowa kąpiel w jacuzzi znakomicie niweluje stres i odpręża.</p>
                                    <div class="services-btn text-center pt-md-5">
                                        <a class="default-btn" href="{{ "11"|getRandomOfferLink }}">Sprawdź ofertę <i class="flaticon-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="coaches-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2><span>Nasz zespół</span></h2>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-coaches">
                        <div class="image">
                            <a href="#"><img alt="team-image" src="{{ asset('assets/images/team/agnieszka.jpg') }}"></a>
                            <ul class="social-link">
                                <ul class="social-link">
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="content">
                            <h3><a href="#">Agnieszka Sochaj-Kopeć</a></h3><span>Właściciel, Fizjoterapeuta</span> <i class='bx bxs-share-alt'></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-coaches">
                        <div class="image">
                            <a href="#"><img alt="team-image" src="{{ asset('assets/images/team/natalia.jpg') }}"></a>
                            <ul class="social-link">
                                <ul class="social-link">
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="content">
                            <h3><a href="#">Natalia Kopeć</a></h3><span>Studentka Kosmetologii i Fizjoterapii</span> <i class='bx bxs-share-alt'></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-coaches">
                        <div class="image">
                            <a href="#"><img alt="team-image" src="{{ asset('assets/images/team/wiktoria.jpg') }}"></a>
                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h3><a href="#">Wiktoria Skoczylas</a></h3><span>Stylistka rzęs, Makijażystka</span> <i class='bx bxs-share-alt'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Najnowsze Promocje</h2>
                <p>W tym miejscu wyświetlają się nasze najnowsze promocje, przygotowane specjalnie dla Ciebie!</p>
            </div>
            <div class="row justify-content-center">
                {% include 'landingPage/common/widgets/promotions/promotionsTemplate.html.twig' %}
            </div>
        </div>
        <div class="pricing-main-shape"><img alt="image" src="{{ asset('assets/images/page-banner/shape_ltr.png') }}"></div>
    </section>
{% endblock %}
